.sidebar {
    background: #FFF;
box-shadow: 0px 12px 30px 0px rgba(80, 143, 244, 0.10);
    height: 100%;
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    
  }
  

  .side_img {
    border-bottom: 1px solid #291670;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 80%;
    padding-bottom: 1rem;

   

    
  }
  .img-side img{
    width: 4.5rem;
  }

  .img-side{
    border-bottom: 1px solid #291670;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
    width: 80%;
    padding-bottom: 1rem;

  }
  .side_img img {
    width: 8.5rem;
    
  }
  
  .side-nav {
    width:fit-content;
         display: flex;
    flex-direction: column;
    align-items: center; 
    overflow-y: auto;
    padding: 1.5rem 1.5rem;
    flex-grow: 1;}
  
   .nav-list {
    list-style: none;
    padding: 0;
    margin: 0;
    width: fit-content;
  }

  .nav-item {
    margin-bottom: 1.5rem;
  }
  
  
  .nav-link {
    max-width: 15rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    align-items: center; 
    gap: 1rem;
    text-decoration: none;  
    color: #333; 
    transition: background-color 0.3s, color 0.3s; 
    padding: 0.7rem 1rem 0.7rem 1rem;
    border-radius: 10px;
    font-weight: 500;
  }
  
  .nav-link:hover {
    background-color: #29167038 ;
    color: #291670;
    padding: 0.7rem 1rem 0.7rem 1rem;
  }
  
 
  .nav-icon {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  
  .nav-item:not(:last-child) .active{
    background-color: #29167038 ;
    color: #291670;
  }
  .submenu-item .active{
    background-color: #29167038 ;
    color: #291670;
  }
  .submenu{
    padding-left: 3rem;
  }
  .submenu-item{
  }

  .submenu-item a{
    width: inherit;
  }
  .bb svg{
   font-size: 1.3rem;
  
  }

  .bb{
    padding-left: 2rem;
    justify-self: center;
  }

 
  .nav-icon svg{
    font-size: 1.5rem;
  }
  

  .menu-icon svg{
    color: black;
  }
  .component div{
    margin-left: 0.5rem;
  }

  .close-side div .top_nav{
    padding-left: 2rem;
  }
  .top_nav{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    padding-left: 1rem;
    background: white;
    
  }

  .icon_menu{
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 1rem;
  }
  .icon_text h3{
    color: #111827;
font-size: 1.3rem;
font-style: normal;
font-weight: 500;
text-transform: capitalize;

  }
  .icon_text p{
    color: #111827;
font-size: 14px;
font-style: normal;
font-weight: 500;

  }

  .men{
    display: none;
  }
  .menu-icon svg{
    font-size: 1.8rem;
  }

  .search{
    display: flex;
    flex-direction: row;
    align-items: center;
    border-radius: 10px;
background: #F4F5F7;
padding: 0.4rem 1rem ;
gap: 0.5rem;
  }

  .search svg{
    font-size: 1.8rem;
  }
  .search input{
    padding-right: 5rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 0;
    background: transparent;
  }

  .bell{
    padding: 0.5rem;
    background: #F4F5F7;
    border-radius: 7px;
    position: relative;
  }

  .bell svg{
    font-size: 1.6rem;

  }

  .bell span{
    position: absolute;
    top: -10px;
    right: -10px;
    background: var(--red);
    padding: 4px 6px;
    border-radius: 50%;
    font-size: 12px;
    color: white;
  }

  .icon_menu img{
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
  }


  @media screen and (max-width: 750px){
    .search input{
      display: none;
    }
  }

  @media screen and (max-width: 650px){
    .active{
      width: 100%;
    }

    .side_img{
      align-items: center;
      justify-content: space-between;
    }
    .img-side .men{
      display: none;
    }
    .men{
      display: block;
      font-size: 2.5rem;
      margin-top: 1rem;
      
    }

    .side_img img{
      width: 8rem;
    }
  }


  
  