.layout{
    display: flex;
    flex-direction: row;
    
    overflow: hidden;
    position: relative;

}
.layout .cide{
  height: 120vh;
  background: white;
  position: fixed;
}

.component{
    width: calc(100% - 14rem);
    display: flex;
   flex-direction: column;
    flex: 1;
  
    margin-left: 14rem;
}

.components{
  width: calc(100% - 16rem);
  display: flex;
 flex-direction: column;
  flex: 1;

  margin-left: 16rem;
}
.components .top_admin_nav{
  padding-left: 1.5rem;
}
.close-side{
  margin-left: 6rem;
  width: 100%;
    display: flex;
   flex-direction: column;
    flex: 1;

}
.pages{
  width: 100%;
    background: #F6F7FB;
    padding: 1rem;
    min-height: 100vh !important;
}
.home{
    margin: 1rem 1.5rem;    
    background: #F6F7FB
}
.table{
    background-color: white;
    padding: 1rem;
    border-radius: 7px;
  width: 65%;
  /* overflow-x: auto;  */
}
.head_table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
    padding-top: 0.8rem;
}

.searchh{
    display:flex ;
    flex-direction: row;
    align-items: center;
   
    padding-right: 0;
    border-radius: 6px;
border: 0.4px solid #c5c6c6;
    
}

.searchh span{
    border-radius: 4px;
background: var(--red);
padding: 0.5rem;
display: flex;
align-items: center;
justify-content: center ;
color: white;
}
.searchh input{
    padding-right: 4rem !important;
    padding: 0.3rem;
    border: 0;

    
}
.head_table h3{
  font-size: 1rem;  
}



.home_top table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ddd;
    font-size: 16px;
    height: 290px;
    border: 0;
  
  overflow-x: scroll;
  
   
  }


/* Custom scrollbar styling for Webkit-based browsers (e.g., Chrome) */
.home_top table::-webkit-scrollbar {
  width: 10px; /* Adjust the width of the scrollbar */
}

.thom.home_top table:-webkit-scrollbar-thumb {
  background: #999; /* Adjust the background color of the scrollbar thumb */
  border-radius: 5px; /* Adjust the border radius of the scrollbar thumb */
}

.home_top table::-webkit-scrollbar-track {
  background: #f5f5f5; /* Adjust the background color of the scrollbar track */
}
  
  .home_top   th, td {
    padding: 10px;
    /* min-width: 6.5rem; */
    text-align: left;
  }

  .home_top td{
    padding-bottom: 1rem;
    font-size: 0.9em;
  }
  .home_top th:nth-child(1){
    min-width: 2rem !important;
  }
  .home_top td:nth-child(1){
    min-width: 2rem !important;
  }
  .home_top  th {
   
    background-color: #f2f2f2;
    font-weight: bold;
    font-size: 0.8rem;
  }
  
  .home_top th:nth-child(1){
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
  }

  .home_top th:nth-child(6){
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
  }
  .home_top{
    display: flex;
    align-items: flex-start;
    gap: 1.2rem;
  }

  .top_right > div{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: white;
    padding: 1rem;border-radius: 10px;


  }
  ._text p{
    padding-bottom: 0.8rem;
  }
  .top_right{
    width: 34%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    justify-content: space-between;
    height: inherit;
    
  }

  .event{
    width: 34%;
    background: white;
    height: 400px;
    padding: 1rem;
    border-radius: 10px;

  }
.event h2{
  font-size: 1rem;  

}
.home_bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  margin-top: 1.5rem;
  justify-content: space-between;
  gap: 1rem
  ;
}

.line{
  
  height: 300px

}
.l{ width: 65%;
  background: white;
  padding: 1rem;
  border-radius: 10px;
  height: 380px!important;
}
.bar{

  border-radius: 10px;
  height: 320px;

}

.b{
  width: 34%;
  background: white;
  padding: 1rem;
  height: 380px;

}

.home_bottom h2{
  font-size: 1rem;
}

.line_head button{
  padding: 0.6rem 0.8rem;
  font-size: 0.8rem;
  margin-top: 1.2rem;
  border-radius: 5px;
  background: var(--red);
  border: 0;
  color: white;
}



@media screen and (max-width: 1024px){
  .home_top{
    flex-direction: column-reverse;

  }
  .top_right{
  flex-direction: row;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  }


  .top_right img{
    display: none;
  }

  .table{
    width: 100%;
  }

  .table table{
    overflow-x: auto !important;
  }

  .home_bottom{
    flex-direction: column;
  }
  .l{
    width: 100%;
  }
  .b{
    width: 100%;
  }
  .top_right{
    display: grid;
    grid-template-columns:  repeat(2, 1fr);

  }

}

@media screen and (max-width: 840px){
  .table{
    overflow-x: scroll !important;

  }
}

@media screen and (max-width: 750px){
  .searchh input{
    display: none;
  }
}
  
@media screen and (max-width: 650px) {
  .component{
    width: 100%;
    display: flex;
   flex-direction: column;
    flex: 1;
    background: wheat;
    margin-left: 0;
}
}
  

