.main_login{
    width: 100%;
    height: 100vh;
    background: #291670;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 0 5%;
    
}
.main_login a{
    font-size: 1rem;
    color: #291670;
    width: fit-content;
    margin-top: 1rem;
}

.eye-icon{
    cursor: pointer;
}
.login{
    background: white;
    padding: 1.5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
    ;
}
.register{
    background: white;
    padding: 2.5rem 5rem 3rem 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem
    ;
    width: 60%;
    height: fit-content;
}

.login img{
    width: 7rem;
    align-self: center;
}

.log_head{
    text-align: center;
}
.log_head h3{
    font-size: 1.3rem;
    font-style: normal;
font-weight: 600;
line-height: normal;
padding-bottom: 1rem;
}

.log_head p{
    font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: normal
}
.double{
    display: flex;
    flex-direction: row;
    gap: 2rem
    ;
    align-items: center;
}

.input_ {
    margin-top: 2rem;
    padding-bottom: 1rem;
}



.input_log{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem
    ;
}

.input_log label{
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal

}

.input_ > label{
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.radio{
    padding-top: 1rem;display: flex;
    align-items: center;
    gap: 9rem;
    font-size: 1.1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal
}

.radio div label{
    padding-left: 1rem;
}
.input_log div{
    gap: 0.5rem;
    align-items: center;
    display:flex;
    flex-direction: row;
    border-radius: 15px;
border: 0.5px solid rgba(0, 0, 0, 0.25);
background: #F6F7FB;
padding: 0.5rem 1rem;
}

.input_log div svg{
    color: var(--red);
    font-size: 1.5rem;
}

.input_log input,select{
    background: transparent;
    border: none;
    padding: 0.5rem 0.5rem;
    width: 100%;
    height: 100%;
    color: black;
}

.input_log option{
    border-radius: 15px;
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    background: #F6F7FB;
}

.input_log input,select::placeholder{
    color: black;
}

.login button{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background: var(--red);
    border: none;
    color: white;
    font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 1rem;
}

.register button{
    width: 100%;
    padding: 1rem 1.5rem;
    border-radius: 15px;
    background: var(--red);
    border: none;
    color: white;
    font-style: normal;
font-weight: 600;
line-height: normal;
font-size: 1rem;
margin-top: 1.5rem;
}




.main_log{
    width: 100%;
    height: auto;
    background: #291670;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    padding: 5rem 8%;
    
}


.already{

    color: #291670;
    font-size: 1.1rem;
}

.register img{
    width: 8rem;
    align-self: center;

}

.error{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.error a{
    color: #291670;
    font-size: 1.2rem;
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media screen and (max-width: 1024px) {
    .register{
        width: 75%;
    }
}

@media screen and (max-width: 850px) {
    .register{
        width: 100%;
        padding: 2.5rem 3rem 3rem 3rem;
        

    }
}

@media screen and (max-width: 750px) {
   .double{
    flex-direction: column;
   }
    
    .main_login{
       
        padding: 0 8%;
        
    }
    
    .radio{
        padding-top: 1rem;display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 1.5rem;
    }
}

@media screen and (max-width: 550px) {
    .login{
        background: white;
        padding: 1.5rem 2rem 3rem 2rem;
       
    }

}

@media screen and (max-width: 300px) {
    
     
     .radio{
         padding-top: 1rem;display: flex;
        align-items: flex-start;
         justify-content: space-between;
         flex-direction: column;
         gap: 1rem;
     }
 }