@tailwind base;
@tailwind components;
@tailwind utilities;

@media screen and (max-width: 1024px) {
  html {
    font-size: 90%;
  }
}

@media screen and (max-width: 850px) {
  html {
    font-size: 85%;
  }
}

@media screen and (max-width: 640px) {
  html {
    font-size: 80%;
  }
}

@media screen and (max-width: 550px) {
  html {
    font-size: 75%;
  }
}
@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}
