@media screen and (max-width: 1024px){
    
    html{
        font-size: 90%;
    }
  }
  
 
  
  
  @media screen and (max-width: 850px){
    
    html{
      font-size: 85%;
    }
  }
  
  
  
  @media screen and (max-width: 640px){
    
    html{
        font-size: 80%;
    }
  
  }
  
  @media screen and (max-width: 550px){
    
    html{
        font-size: 75%;
    }
  
   
  }